*,*::after,*::before{
    box-sizing: border-box;
}

.day19{
    background-color: #252252;
    position: relative;

    --day19-color-1:#252252;
    --day19-color-2:#293d96;
    --day19-color-3:#993390;
}

.day19__background{
    width: 300%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, var(--day19-color-1) 33.333%,var(--day19-color-2) 33.333%, var(--day19-color-2) 66.666%, var(--day19-color-3) 66.666%);
    left: 0;
    transition: left 1s ease;
}

.day19__color1 .day19__background{left: 0;}
.day19__color2 .day19__background{left: -100%;}
.day19__color3 .day19__background{left: -200%;}


.day19__fieldset{
    position: relative;
    padding: 0;
    display: flex;
    gap: .5em;
    width: 20em;
    justify-content: center;
}

.day19__radio{
    visibility: hidden;
    display: none;
}

.day19__label{
    display: inline-block;
    width: 4.6em;
    height: 4.6em;
    border-radius: 50%;
    border: .2em solid #fff;
    cursor: pointer;
}

.day19__circle{
    width: 4em;
    height: 4em;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 0.3em;
    right: 13.1em;
    transition:  right 1s ease;
}

.day19__color1 .day19__circle{right: 13.1em;}
.day19__color2 .day19__circle{right: 8em;}
.day19__color3 .day19__circle{right: 2.9em;}
