.day11{
    background: radial-gradient(#f6e8d7 0%, #dabe9b 100%);
}

.day11__floor{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12em;
    background-color: #242424;
}

.day11__line{
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 5em;
    height: 1em;
    background-color: #fff;
    animation: day11-line 4s infinite linear;
    animation-delay: 1s;
}
.reverse .day11__line{
    animation: day11-line 4s infinite linear reverse
}

@keyframes day11-line {
    0%{left: calc(100% + 5em);}
    100%{left: -5em;}
}

.day11__boot-left,
.day11__boot-right{
    width: 10em;
    height: 10em;
    position: absolute;
    bottom: 11em;
    background-image: url("https://100dayscss.com/codepen/doc-martens.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.day11__boot-left{
    animation: day11-walk 3s infinite linear;
    animation-delay: 1s;
}
.reverse .day11__boot-left{
    animation: day11-walk 3s infinite linear reverse;
    animation-delay: 1s;
}

.day11__boot-right{
    animation: day11-walk 3s infinite linear;
    animation-delay: 2.5s;
}
.reverse .day11__boot-right{
    animation: day11-walk 3s infinite linear reverse;
    animation-delay: 2.5s;
}

@keyframes day11-walk {
    0%{transform: translate(0%) rotate(0deg)}
    25%{transform: translate(-60%,-25%) rotate(35deg);}
    75%{transform: translate(60%,-2%) rotate(0deg);}
    100%{transform: translate(0%) rotate(0deg)}
}

.day10__reverse{
    background-color: #242424;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: .1em;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    transition: background-color .5s ease;
}

.day10__reverse:hover{
    background-color: #484848;
}