.day25{

    --day25-color-1:rgb(22, 113, 199);
    --day25-color-2:rgb(18, 83, 145);
    --day25-color-3:rgb(228, 209, 43);

    background-color: var(--day25-color-2);
    padding: 1em;
}

.day25__earth{fill: var(--day25-color-1);}

.day25__location{
    position: absolute;
    top: 62%;
    left: 55%;
    transform: translate(-50%,-50%);
    padding: .5em;

    perspective: 1500px;
    transform-style: preserve-3d;
}

.day25__marker-container{
    backface-visibility: hidden;
	transform: perspective(600px) rotateY(0deg);
    transition: opacity 1s ease;
	opacity: 1;
	transition: all .5s ease .4s;
}
.active .day25__marker-container{
    transform: perspective(600px) rotateY(-90deg);
    opacity: 0;
    transition: all .5s ease;
}

.day25__marker{
    fill: var(--day25-color-3);
    width: 3em;
    height: 3em;
    cursor: pointer;
    animation: day25-market 3s linear infinite;
    animation-delay: 1s;
}
@keyframes day25-market {50%{transform: translateY(-20%)}}

.day25__shadow{
    content: "";
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    left: 50%;
    bottom: 0;
    background-color: #00000040;
    transform: rotateX(-65deg) translate(-50%,200%);
    animation: day25-shadow 3s linear infinite;
    animation-delay: 1s;
    transition: opacity 1s ease;
}
@keyframes day25-shadow {50%{transform: rotateX(-65deg) translate(-50%,200%) scale(.5);}} 

.day25__card{
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #fff;
    box-shadow: #00000030 .5em .5em 1em;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-50%,-50%) rotateY(90deg) perspective(600px);
    backface-visibility: hidden;
    opacity: 0;

	pointer-events: none;
	transition: all .5s ease;
    width: 15em;
}

.active .day25__card{
    transform: translate(-50%,-50%) perspective(600px) rotateY(0deg);
    opacity: 1;
    pointer-events: all;
    transition: all .5s ease .4s;
}

.day25__img{
    display: block;
    width: 100%;
    height: 4em;
}

.day25__container{
    padding: 1em;
    text-align: center;
    color: #343434;
    word-spacing: 0em;
}

.day25__h1{font-size: .9em;}

.day25__span{
    font-size: .8em;
    display: block;
}

.day25__footer{
    display: flex;
    align-items: center;
}

.day25__button{
    background-color: transparent;
    border: 0;
    padding: .5em;
    flex: 1 1 1px;
    color: var(--day25-color-1);
    border-radius: 10px;
    transition: background-color .3s ease;
}

.day25__button:hover{background-color: #00000010;}

.day25__line{
    background-color: var(--day25-color-1);
    width: .05em;
    height: 1.5em;
    border-radius: 5px;
}