.day29{
    --day29-bg-color: rgb(255, 255, 255);
    --day29-color:#78797c;
    --day29-color-strong:#202124;
    --day29-shadow:#78797c90;

    background-color: var(--day29-bg-color);

}

.day29__logo-container{
    position: absolute;
    height: 5em;
    transform: translateY(-100%);
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.day29__form__google{
    width: 10em;
    height: 3em;
    padding-right: .5em;
}

.day29__form{
    position: relative;
}

.day29__search{
    padding: 0.5em 2.5em;
    outline-color: var(--day29-color);
    border-radius: 2em;
    border: 1px solid var(--day29-color);
    width: 10em;
    transition: width .5s ease, box-shadow .5s ease;
}
.day29__search:hover{
    box-shadow: 0 0 .3em var(--day29-shadow);
    width: 20em;
}
.day29__search:focus{
    box-shadow: 0 0 .3em var(--day29-shadow);
    width: 20em;
    border-radius: 1.2em;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border: .05em solid var(--day29-color);
    border-bottom: none;
    outline: none;
}
.day29__form:hover > .day29__search{
    box-shadow: 0 0 .3em var(--day29-shadow);
    width: 20em;
}

.day29__search::placeholder{font-size: .8em;}

.day29__label{
 position: absolute;
 width: 1em;
 top: .5em;
}
.day29__label-1{left: 1em;}
.day29__label-2{right: 1em; width: 1.2em; border-left: 1px solid var(--day29-shadow);}

.day29__label:hover > .day29__icon{fill: var(--day29-color-strong);}

.day29__icon{
    width: 100%;
    fill: var(--day29-color);
    transition: fill .5s ease;
    cursor: pointer;
}
.day29__search:hover ~ .day29__label-1 .day29__icon{fill: var(--day29-color-strong);}
.day29__search:focus ~ .day29__label-1 .day29__icon{fill: var(--day29-color-strong);}

.day29__ul{
    width: 100%;
    position: absolute;
    list-style: none;
    border: .05em solid var(--day29-color);
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    visibility: hidden;
    border-top: none;
    background-color: var(--bg-color);
    box-shadow: var(--day29-shadow) 0 0 .2em;
    padding: 1em 0;
}
.day29__search:focus ~ .day29__ul{visibility: visible;}

.day29__li{
    font-size: .8em;
    padding: 0 3em;
}

.day29__a{
    color: var(--day29-color-strong);
    width: 100%;
    display: inline-block;
}

.day29__em{
    font-weight: bolder;
}