
.day2 {
    background: #3FAF82;
}

.day2__button {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: none;
    background-color: transparent;
    padding: 1em;
}

.day2__line-1,
.day2__line-2,
.day2__line-3{
    width: 5em;
    height: .5em;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 .8em rgba(0,0,0,.4);
}

.active .day2__line-1{animation: day2-appear-liner-1 1s forwards}
.active .day2__line-2{animation: day2-appear-liner-2 1s forwards}
.active .day2__line-3{animation: day2-appear-liner-3 1s forwards}

.no-animation .day2__line-1,
.no-animation .day2__line-2,
.no-animation .day2__line-3{animation: none;}

@keyframes day2-appear-liner-1 {
    0%{transform: translateY(0) }
    50%{transform: translateY(1.5em) rotate(0)}
    100%{transform: translateY(1.5em) rotate(45deg)}
}

@keyframes day2-appear-liner-2 {
    0%{transform: scale(100%)}
    50%{transform: scale(70%)}
    51%{transform: scale(0%)}
    100%{transform: scale(0%)}
}

@keyframes day2-appear-liner-3 {
    0%{transform: translateY(0) }
    50%{transform: translateY(-1.5em) rotate(0)}
    100%{transform: translateY(-1.5em) rotate(135deg)}
}

.day2__line-1{animation: day2-disappear-liner-1 1s forwards}
.day2__line-2{animation: day2-disappear-liner-2 1s forwards}
.day2__line-3{animation: day2-disappear-liner-3 1s forwards}

@keyframes day2-disappear-liner-1 {
    0%{transform: translateY(1.5em) rotate(45deg)}
    50%{transform: translateY(1.5em) rotate(0)}
    100%{transform: translateY(0)}
}

@keyframes day2-disappear-liner-2 {
    0%{transform: scale(0%)}
    49%{transform: scale(0%)}
    50%{transform: scale(70%)}
    100%{transform: scale(100%)}
}

@keyframes day2-disappear-liner-3 {
    0%{transform: translateY(-1.5em) rotate(135deg)}
    50%{transform: translateY(-1.5em) rotate(0)}
    100%{transform: translateY(0)}
}