.day20{
    --color-1:#fff;
    --color-2: #3e5169;
    --color-3: #41e09e;
    --bg:#2c3e50;

    background-color: var(--bg);
}

.day20__center{
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.day20__container{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    background: var(--color-2);
    position: relative;
    transition: transform 1s ease, box-shadow 1s ease;
}
.submit .day20__container{
    animation: day20-container 1s forwards;
}
@keyframes day20-container {
    10%{transform: scale(1.1)}
    30%{
        box-shadow: var(--bg) 0 0 0 .5em, var(--color-2) 0 0 0 1em;
    }
    100%{
        transform: scale(0);
        box-shadow: var(--bg) 0 0 0 3em, var(--color-2) 0 0 0 3em;
        opacity: 0;
    }
}

.day20__mail,
.day20__plane{
    width: 125px;
    height: 120px;

    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 1px;
    stroke-linecap: square;
    stroke-dasharray: 325 325;
    position: absolute;
    
    transition: all 1s ease-in-out;
}

.day20__mail{stroke-dashoffset: 0; transition-delay: .5s;}
.day20__plane{
    stroke-dashoffset: 326;
    transition: all 1s ease;
}

.submit .day20__mail{stroke-dashoffset: 326; transition-delay: 0s;}
.submit .day20__plane{
    stroke-dashoffset:0; 
    transition-delay: .5s;
    animation: day20-plane 1s ease forwards;
    animation-delay: 1.5s;
}

@keyframes day20-plane {
    10%{transform: translate(-1em,1em);}
    100%{transform: translate(10em,-8.5em) scale(.1);opacity: 0;}
}

.day20__house{
    stroke: rgb(255, 255, 255);
    stroke-width: 1em;
    fill: none;

    width: 4em;
    position: absolute;
    right: 1.2em;
    top: .5em;
    transform: translate(150%);
    visibility:hidden;
    opacity: 0;
    transition: visibility 1s ease-in-out,opacity 1s ease-in-out,transform 1s ease-in-out;
    transition-delay: 1s;
}
.submit .day20__house{
    visibility: visible;
    opacity: 1;
    transform: translate(0%);
    animation: day20-house 1s ease forwards;
    animation-delay: 1.5s;
}

@keyframes day20-house {
    100%{opacity: 0;}
}

.day20__btn{
    width: 90%;
    border: 0;
    border-radius: 3em;
    font-size: 1.2em;
    padding: .3em;
    background-color: var(--color-1);
    color: var(--bg);
    font-weight: bold;
    transition: transform .5s ease ,color .5s ease, background-color .5s ease, width .5s ease;
}
.day20__btn:hover{
    background-color: var(--color-3);
    color: var(--color-1);
}

.submit .day20__btn{
    color: var(--color-3);
    background-color: var(--color-3);
    width: 20%;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    animation: day20-btn 2s forwards linear;
    animation-delay: 2s;
}
.submit .day20__btn:hover{
    background-color: var(--color-2);
    color: var(--color-1);
}

@keyframes day20-btn {
    25%{
        color: var(--bg);
        border-radius: 3em;
    }
    50%{
        width: 20%;
        border-radius: 3em;
        transform: translate(0,-6em);
    }
    75%{
        width: 20%;
        border-radius: 3em;
        transform: translate(0,-6em) scale(1);
    }
    99%{
        color: var(--color-3);
        pointer-events: none;
        user-select: none;
    }
    100%{
        color: var(--color-1);
        width: 50%;
        border-radius: 3em;
        pointer-events: all;
        user-select: all;
        transform: translate(0,-6em) scale(3);
    }
}