.day29{
    --day29-bg-color: rgb(255, 255, 255);
    --day29-color:#78797c;
    --day29-color-strong:#202124;
    --day29-shadow:#78797c90;

    background-color: var(--day29-bg-color);
    flex-direction: column;
    justify-content: flex-start;

}

.day29__logo-container{
    height: 5em;
    width: 25em;
    display: flex;
    justify-content: center;
    pointer-events: none;
    margin-top: 6em;
}

.day29__form__google{
    width: 10em;
    height: 3em;
    padding-right: 1em;
    stroke-width: 1em;
}

.day29__form{
    position: relative;
    border-radius: 1.2em;
    border: .08em solid var(--day29-color);
    transition: box-shadow .5s ease;
    overflow: hidden;
}
.day29__form:hover{
    box-shadow: 0 0 .4em var(--day29-shadow);
    border: .08em solid var(--day29-color);
}
.day29__form:focus{
    box-shadow: 0 0 .4em var(--day29-shadow);
    border-radius: 1.2em;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border: .08em solid var(--day29-color);
    border-bottom: none;
    outline: none;
}
.day29__form:hover{
    box-shadow: 0 0 .4em var(--day29-shadow);
}

.day29__search{
    padding: 0.5em 2.5em;
    width: 100%;
    width: 10em;
    border: none;
    outline: none;
    transition: width .5s ease;
}
.day29__search::placeholder{font-size: .8em;}
.day29__form:hover > .day29__search,
.day29__search:focus{
    width: 20em;
}

.day29__label{
 position: absolute;
 width: 1em;
 top: .5em;
}
.day29__label-1{left: 1em;}
.day29__label-2{right: 1em; width: 1.2em; border-left: 1px solid var(--day29-shadow);}

.day29__label:hover > .day29__icon{fill: var(--day29-color-strong);}

.day29__icon{
    width: 100%;
    fill: var(--day29-color);
    transition: fill .5s ease;
    cursor: pointer;
}
.day29__search:hover ~ .day29__label-1 .day29__icon{fill: var(--day29-color-strong);}
.day29__search:focus ~ .day29__label-1 .day29__icon{fill: var(--day29-color-strong);}

.day29__hr{
    position: absolute;
    width: 100%;
    transform: translateY(0em);
    width: 85%;
    left: 7.5%;
    margin: 0;
}

.day29__ul{
    width: 100%;
    list-style: none;
    padding: .8em 0 .5em;
    display: none;
    visibility: hidden;
}
.day29__search:focus ~ .day29__ul{
    display: block;
    visibility: visible;
}

.day29__li{
    font-size: .8em;
    padding: 0 3em;
}

.day29__a{
    color: var(--day29-color-strong);
    width: 100%;
    display: inline-block;
}

.day29__em{
    font-weight: bolder;
}