.day23{
    background-color: rgb(82, 228, 126);
    --text-color: #fff;
}

.day23__h1{
    color:  var(--text-color);
    position: relative;
    font-weight: bolder;
    font-size: 3em;
    padding: .3em .5em;
    min-height: 1.8em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.day23__center{
    display: block;
    height: 1.1em;
    line-height: 1em;

    transform: scaleY(0);
    animation: 4s ease forwards day23-center;
}

@keyframes day23-center {
    80%{transform: scaleY(0);}
    100%{transform: scaleY(1)}
}

.day23__span-1,
.day23__span-2{
    position: absolute;
    font-weight: lighter;
    font-size: .55em;
    width: 100%;

    opacity:0;
    visibility: hidden;
}


.day23__span-1{
    top: 0;
    left: 50%;
    transform: translate(0%,-100%);
    padding-left: .3em;
    animation: 4s ease forwards day23-span-1;
}

@keyframes day23-span-1 {
    80%{
        visibility: hidden;
        opacity:0;
        transform: translate(0%,-100%);
    }
    100%{
        visibility: visible;
        opacity:1;
        transform: translate(-50%,-100%);
    }
}

.day23__span-2{
    bottom: 0;
    left: 50%;
    transform: translate(-100%,100%);
    text-align: end;
    padding-right: .3em;
    animation: 4s ease forwards day23-span-2;
}

@keyframes day23-span-2 {
    80%{
        visibility: hidden;
        opacity:0;
        transform: translate(-100%,100%);
    }
    100%{
        visibility: visible;
        opacity:1;
        transform: translate(-50%,100%);
    }
}

.day23__line-1,
.day23__line-2{
    background-color: var(--text-color);
    position: absolute;
    width: .15em;
    height: 100%;
}

.day23__line-1{
    left: 50%;
    transform: translate(-50%,-50%);
    animation: 4s ease forwards day23-line-1;
}

@keyframes day23-line-1 {
    0%{
        transform: translate(-50%,0);
        width: 1em;
        height: 1em;
        border-radius: 50%;
    }
    10%{
        transform: translate(-50%,0);
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
    }
    13%{
        transform: translate(-50%,0);
        width: .15em;
        height: .15em;
        border-radius: 50%;
    }
    15%{
        transform: translate(-50%,0);
        left: 50%;
        width: .3em;
        height: .15em;
        border-radius: 0%;
    }

    30%{
        transform: translate(-1px,0);
        left: 0;
        height: .15em;
        width: 4em;
    }
    50%{
        transform: translate(0,0);
        height: .15em;
        width: .15em;
    }

    80%{
        height: 100%;
        transform: translate(0,0);
    }
    100%{
        left: 0;
        transform: translate(0,0%);
    }
}

.day23__line-2{
    right: 50%;
    transform: translate(0,50%);
    animation: 4s ease forwards day23-line-2;
}

@keyframes day23-line-2 {
    0%{
        transform: translate(50%,0);
        width: 1em;
        height: 1em;
        border-radius: 50%;
    }
    10%{
        transform: translate(50%,0);
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
    }
    13%{
        transform: translate(50%,0);
        width: .15em;
        height: .15em;
        border-radius: 50%;
    }
    15%{
        transform: translate(50%,0);
        right: 50%;
        width: .3em;
        height: .15em;
        border-radius: 0%;
    }

    30%{
        transform: translate(0,0);
        right: 0;
        height: .15em;
        width: 4em;
    }
    50%{
        transform: translate(0,0);
        height: .15em;
        width: .15em;
    }

    80%{
        height: 100%;
        transform: translate(0,0);
    }
    100%{
        right: 0;
        transform: translate(0,0);
    }
}

.day23__line-1::after,
.day23__line-1::before,
.day23__line-2::after,
.day23__line-2::before{
    content: "";
    position: absolute;
    height: .15em;
    background-color: var(--text-color);
    width: 0;
}

.day23__line-1::after{
    transform: translate(.15em);
    animation: 4s ease forwards day23-subline-1;
}
.day23__line-1::before{
    bottom: 0;
    transform: translate(.15em);
    animation: 4s ease forwards day23-subline-2;
}

.day23__line-2::after{
    transform: translate(-100%);
    animation: 4s ease forwards day23-subline-2;
}
.day23__line-2::before{
    bottom: 0;
    transform: translate(-100%);
    animation: 4s ease forwards day23-subline-1;
}

@keyframes day23-subline-1 {
    80%{width: 0em;}
    100%{width: 3.5em;}
}

@keyframes day23-subline-2 {
    80%{width: 0em;}
    100%{width: .4em;}
}