.day36{
    background-color: #2B3642;
    
    --day36-color:#3D4D5E;
    --day36-card-color:#fff;
    --day36-card-loader:#E9E9E9;
}

.day36__main{
    min-height: 20em;
    min-width: 20em;
    background-color: var(--day36-card-color);
    position: relative;
    overflow: hidden;
}

/* _____________  input  _____________ */

.day36__input{
    visibility: hidden;
    display: none;
}

/* _____________  nav  _____________ */

.day36__nav{
    border-bottom: 1px solid var(--day36-color);
}

.day36__ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.day36__li{
    position: relative;
}

.day36__li:nth-child(6){
    position: relative;
    margin-left: auto;
}

.day36__label{
    text-align: center;
    cursor: pointer;
}

.day36__icon {
    color: var(--day36-color);
    transition: color 1s ease;
    font-size: 1em;
    padding: .5em .78em;
    width: 100%;
    text-align: center;
    display: inline-block;
}

#dashboard:checked ~ .day36__nav .day36__ul .day36__li:nth-child(2) .day36__icon {color: var(--day36-card-color);}
#comments:checked ~ .day36__nav .day36__ul .day36__li:nth-child(3) .day36__icon {color: var(--day36-card-color);}
#notifications:checked ~ .day36__nav .day36__ul .day36__li:nth-child(4) .day36__icon {color: var(--day36-card-color);}
#settings:checked ~ .day36__nav .day36__ul .day36__li:nth-child(5) .day36__icon {color: var(--day36-card-color);}
#search:checked ~ .day36__nav .day36__ul .day36__li:nth-child(6) .day36__icon {color: var(--day36-card-color);}

/* _____________  pointer  _____________ */

.day36__pointer{
    width: 2.5em;
    height: 130%;
    position: absolute;
    top: -1px;
    background-color: var(--day36-color);
    clip-path: polygon(0 80%, 0 0, 100% 0, 100% 80%, 50% 100%);
    transition: left 1s ease, right 1s ease, transform 1s ease;
}

#dashboard:checked ~ .day36__nav .day36__ul .day36__pointer {left: -1px;}
#comments:checked ~ .day36__nav .day36__ul .day36__pointer {left: 2.5em;}
#notifications:checked ~ .day36__nav .day36__ul .day36__pointer {left: 5em;}
#settings:checked ~ .day36__nav .day36__ul .day36__pointer {left: 7.5em;}
#search:checked ~ .day36__nav .day36__ul .day36__pointer {
    left: calc(100% + 1px);
    transform: translate(-100%);
}

/* _____________  pointer  _____________ */

.day36__section{
    position: absolute;
    width: 100%;
    height: calc(100% - 2.5em);
    padding: 1em 1em 1.9em;
    /* visibility: hidden; */
}

/* ___________  sub title  ____________ */

.day36__h2{
    color: var(--day36-color);
    font-size: 1.5em;
    text-transform: uppercase;
    transform: translate(-100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    margin: 0;
}

#dashboard:checked ~ .day36__dashboard .day36__h2{transform: translate(0%); opacity: 1;}
#comments:checked ~ .day36__comments .day36__h2{transform: translate(0%); opacity: 1;}
#notifications:checked ~ .day36__notifications .day36__h2{transform: translate(0%); opacity: 1;}
#settings:checked ~ .day36__settings .day36__h2{transform: translate(0%); opacity: 1;}
#search:checked ~ .day36__search .day36__h2{transform: translate(0%); opacity: 1;}

/* ___________  content  ____________ */

.day36__content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease;
    padding: 1em 0;
    align-items: center;
}

.day36__search .day36__content{
    align-items: center;
}

#dashboard:checked ~ .day36__dashboard .day36__content{opacity: 1;}
#comments:checked ~ .day36__comments .day36__content{opacity: 1;}
#notifications:checked ~ .day36__notifications .day36__content{opacity: 1;}
#settings:checked ~ .day36__settings .day36__content{opacity: 1;}
#search:checked ~ .day36__search .day36__content{opacity: 1;}

.day36__span{
    width: 0;
    height: .5em;
    border-radius: .2em;
    background-color: var(--day36-card-loader);
    opacity: 1;
    transition: opacity 1s ease, width 1s ease;
    margin-bottom: .5em;
}

.day36__span:nth-child(1){max-width: 90%;}
.day36__span:nth-child(2){max-width: 80%;}
.day36__span:nth-child(3){max-width: 90%;}
.day36__span:nth-child(4){max-width: 40%; margin-bottom: 1em;}
.day36__span:nth-child(5){max-width: 90%;}
.day36__span:nth-child(6){max-width: 100%;}
.day36__span:nth-child(7){max-width: 90%;}
.day36__span:nth-child(8){max-width: 30%; margin-bottom: 1em;}
.day36__span:nth-child(9){max-width: 80%;}

#dashboard:checked ~ .day36__dashboard .day36__span{opacity: 1; width: 100%;}
#comments:checked ~ .day36__comments .day36__span{opacity: 1; width: 100%;}
#notifications:checked ~ .day36__notifications .day36__span{opacity: 1; width: 100%;}
#settings:checked ~ .day36__settings .day36__span{opacity: 1; width: 100%;}
#search:checked ~ .day36__search .day36__span{opacity: 1; width: 100%;}

.day36__search-input{
    border-radius: 5px;
    border-color: var(--day36-color);
    outline-color: var(--day36-color);
    color: var(--day36-color);
    padding: .5em;
    opacity: 0;
    transition: opacity 1s ease;
}

#search:checked ~ .day36__search .day36__search-input{
    opacity: 1;
}