.day38{
    --day38-bg-color-1: rgb(157, 57, 187);
    --day38-bg-color-2: rgb(251, 247, 252);
    --day38-color-1: rgb(251, 247, 252);
    --day38-color-2: rgb(157, 57, 187);
    background-color: var(--day38-bg-color-2);
    position: relative;
}

.day38__globe:nth-child(1){
    fill: var(--day38-bg-color-1);
    background-color: var(--day38-color-1);
}

.day38__globe:nth-child(2){
    fill: var(--day38-bg-color-2);
    background-color: var(--day38-color-2);
    transform: scale(0);
}

.day38__globe{
    position: absolute;
    padding: 5em;
    cursor: pointer;
    transition: transform 1s ease-out, border-radius 1s ease-out;
}

.day38.click .day38__globe:nth-child(1){
    transform: scale(20);
}

.day38.click .day38__globe:nth-child(2){
    transform: scale(1);
}