.day32{
    background-color: #232425;
}

.day32__container{
    display: flex;
    border: 1px solid;
    background-color: #fff;
    min-width: 10em;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    border-radius: 2em;
}

.day32__plus,
.day32__less{
    width: 2em;
    height: 2em;
    border: none;
    box-shadow: #232425 .1em .1em .25em;
    border-radius: 50%;
    background-color: #f1f1f1;
    position: relative;
}

.day32__plus:hover,
.day32__less:hover{
    box-shadow: #232425 0 0 .25em inset;
}

.day32__line{
    position: absolute;
    width: 90%;
    height: 14%;
    background-color: #232425;
    left: 5%;
    top: 43%;
    border-radius: 1em;
}

.day32__plus:hover > .day32__line,
.day32__less:hover > .day32__line{
    transform: scale(.9);
}

.day32__line:nth-child(2){
    position: absolute;
    width: 14%;
    height: 90%;
    top: 5%;
    left: 44.5%;
}

.day32__number-container{
    text-align: center;
    position: relative;
    height: 100%;
    padding: 0 2em;
}

.day32__number,
.day32__number-effect{
    color: var(#232425);
    font-size: 2em;
    padding: 0;
    line-height: 1em;
    font-weight: bolder;
}

.day32__number-effect{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    transition: transform .3s ease, opacity .3s ease;
    z-index: 10;
    padding: 0 .3em;
    animation: none;
}

.day32__number-effect.less{
    animation: day32-less .3s ease-in normal both;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.5);
}

.day32__number-effect.plus{
    animation: day32-plus .3s ease-in normal both;
    opacity: 0;
}

@keyframes day32-plus {
    from{
        transform: translate(-50%,-50%) scale(1.5);
        opacity: 1;
    }
    to{
        transform: translate(-50%,-50%) scale(1);
        opacity: 0;
    }
}

@keyframes day32-less {
    from{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
    to{
        transform: translate(-50%,-50%) scale(1.5);
        opacity: 0;
    }
}