
/* Derecha */

.about .derecha{
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .code-container{
    border-radius: 15px;
    width: 25em;
    height: 20em;
    overflow: hidden;
    background-color: rgb(65, 65, 65);
}

.about .code-container .top{
    height: 20%;
    border-bottom: 1px solid var(--second-text-color);
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 1em;   
}

.about .code-container .circle{
    display: block;
    width: 1em;
    height: 1em;
    border: .2em solid var(--color);
    border-radius: 50%;
    animation: about-circle 3s ease-out infinite;
}
.about .code-container .circle:nth-child(1){animation-duration: 1s;}
.about .code-container .circle:nth-child(2){animation-duration: 1.5s;}
.about .code-container .circle:nth-child(3){animation-duration: 2s;}

.bard-izq{
    border-right: var(--second-text-color) 1px solid;
}

.num-line{
    color: #6e6e6f;
    text-align: center;
    transform: translate(.3em);
}

.code-right{
    color: var(--bg-color);
}

.line-right{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    color: #fff;
}

.line-right:nth-child(2),
.line-right:nth-child(3),
.line-right:nth-child(4),
.line-right:nth-child(5),
.line-right:nth-child(7),
.line-right:nth-child(9){
    padding-left: 1em;
}

.line-right:nth-child(8){
    padding-left: 2em;
}

.code-color-1{color: #b729d4;}
.code-color-2{color:rgb(216, 213, 35);}
.code-color-3{color:rgb(71, 216, 35);}
.code-color-4{color:rgb(35, 113, 216);}

/* Bottom */

.about .section-2 .title{
    opacity: .9;
}

@keyframes about-circle {
    50%{
        box-shadow: 0 0 1em var(--color);
        background-color: var(--color);
    }
}