
/* Derecha */

.about .derecha{
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .code-container{
    border-radius: 15px;
    width: 25em;
    height: 20em;
    overflow: hidden;
    background-color: var(--primary-text-color-strong);
}

.about .code-container .top{
    height: 20%;
    border-bottom: 1px solid var(--second-text-color);
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 1em;   
}

.about .code-container .circle{
    display: block;
    width: 1em;
    height: 1em;
    border: .2em solid var(--opacity-color);
    border-radius: 50%;
}

/* Bottom */

.about .section-2 .title{
    opacity: .9;
}
