.buttonDark{
    position: fixed;
    left: 1em;
    bottom: 1em;
    width: 3em;
    height: 3em;
    fill: var(--primary-text-color-strong);
    background-color: var(--bg-color);
    transition: fill .5s ease-out, border-color .5s ease-out;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--primary-text-color-strong);
    transform: translate(0,300%);
    opacity: 0; 
    visibility:hidden;
    animation:appear-buttonDark 1s ease-out forwards;
}

.buttonDark:hover{
    fill: var(--color);
}

.buttonDark svg{
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
}

@keyframes appear-buttonDark {
    100%{transform: translate(0); opacity: 1; visibility: visible;}
}